@import "tailwindcss";
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2C5282 #F5F5F5;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2C5282;
  border-radius: 999px;
  min-height: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2C5282;
}